body {
  display: flex; 
  width: 100%;
  margin: 0; 
  height: 100%; 
  font-family: Arial, sans-serif; 
}
.calendar-container {  
  width: 90%; 
}
.fc-event, .fc-event-dot {
  color: black; 
}

.fc-title {
  color: black;
}